d*{
    background-color: royalblue;
    color: #d49c0d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

body{
    background-color: aqua;
}

h1{ 
    color: darkorange;
    text-align: center;
    border-bottom: 22px solid cyan;
    padding-bottom: 10px;
    stroke-dashoffset: 6px;

}

image{
    width: %100;
    border: 3px solid #red ;
    border-radius: 8px;
    box-shadow: 0 4px 13px rgba(0,0,0,0.5);
}

a:hover, a:active, a:link, a::before a::after{
    color: #ffd700
    text-decoration: underline;
     background-color: aqua;
}